In [1]:
import pandas as pd

In [2]:
# CREATING A SERIES 

a = [1,4,6]

series = pd.Series(a)

print(series)  # LEFT COLUMN IS INDEXES OR LABEL AND RIGHT COLUMN HAS YOUR DATA

0    1
1    4
2    6
dtype: int64

In [3]:
# ACCESING ELEMENTS IN SERIES

print(series[2])

6

In [12]:
# DEFINING YOUR OWN LABELS

series = pd.Series(a,index=[1,2,3])

print(series)

series = pd.Series(a,index=["Aniket" , "Gaudgaul" , "lata"])

print(series)

print(series["Aniket"])

1    1
2    4
3    6
dtype: int64
Aniket      1
Gaudgaul    4
lata        6
dtype: int64
1

In [14]:
# CREATING A SERIES FROM A DICTIONARY

d = {"day1" : 420 , "day2" : 234, "day3" : 678}

print(d)

series2 = pd.Series(d)

print(series2)

series2 = pd.Series(d , index=["day1" , "day2"])

print(series2)

{'day1': 420, 'day2': 234, 'day3': 678}
day1    420
day2    234
day3    678
dtype: int64
day1    420
day2    234
dtype: int64

In [16]:
# loading data into a data framework

data={"calories" : [420,843,583] , "duration" : [50,34,64]}

df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       843        34
2       583        64

In [17]:
# ACCESSING DATA FRAME

print(df.loc[0])   #FIRST ROW

print(df.loc[2])   #LAST ROW

calories    420
duration     50
Name: 0, dtype: int64

In [23]:
# RENAMING INDEXES IN DATA FRAME

df = pd.DataFrame(data , index = ["day1" , "day2" , "day3"])

print(df)

print(df.loc["day2"])

print(df.loc[["day2" , "day3"]])

      calories  duration
day1       420        50
day2       843        34
day3       583        64
calories    843
duration     34
Name: day2, dtype: int64
      calories  duration
day2       843        34
day3       583        64

In [28]:
# CSV FILE

import pandas as dp

df = dp.read_csv('C:/Users/LENOVO/Downloads/biostats.csv')  # OR read_json to read json AND use '/' slashes

print(df)

    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0   Alex         "M"      41              74              170
1   Bert         "M"      42              68              166
2   Carl         "M"      32              70              155
3   Dave         "M"      39              72              167
4   Elly         "F"      30              66              124
5   Fran         "F"      33              66              115
6   Gwen         "F"      26              64              121
7   Hank         "M"      30              71              158
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131

In [31]:
# HEAD READS ONLY TOP 5 DEFAULT

print(df.head()) 

print(df.head(10))

   Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0  Alex         "M"      41              74              170
1  Bert         "M"      42              68              166
2  Carl         "M"      32              70              155
3  Dave         "M"      39              72              167
4  Elly         "F"      30              66              124
   Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
0  Alex         "M"      41              74              170
1  Bert         "M"      42              68              166
2  Carl         "M"      32              70              155
3  Dave         "M"      39              72              167
4  Elly         "F"      30              66              124
5  Fran         "F"      33              66              115
6  Gwen         "F"      26              64              121
7  Hank         "M"      30              71              158
8  Ivan         "M"      53              72              175
9  Jake         "M"      32              69              143

In [32]:
# TAIL

print(df.tail())

print(df.tail(10))

    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131
    Name       "Sex"   "Age"   "Height (in)"   "Weight (lbs)"
8   Ivan         "M"      53              72              175
9   Jake         "M"      32              69              143
10  Kate         "F"      47              69              139
11  Luke         "M"      34              72              163
12  Myra         "F"      23              62               98
13  Neil         "M"      36              75              160
14  Omar         "M"      38              70              145
15  Page         "F"      31              67              135
16  Quin         "M"      29              71              176
17  Ruth         "F"      28              65              131

In [34]:
# GIVES SOME INFORMATION OF DATA

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             18 non-null     object
 1        "Sex"       18 non-null     object
 2    "Age"           18 non-null     int64
 3    "Height (in)"   18 non-null     int64
 4    "Weight (lbs)"  18 non-null     int64
dtypes: int64(3), object(2)
memory usage: 848.0+ bytes
None

In [35]:
# DELETING DIRTY DATA WHICH INCLUDES DATA NOT IN CORRECT FORMAT, EMPTY SPACES IE NAN 

import pandas as dp

df = dp.read_csv('#')  

print(df)

# REMOVING ROWS WITH EMPTY VALUE 

new_df = df.dropna()    # TO MODIFY THE ORIGINAL FILE ALSO USE dropna(inplace = True)

print(new_df)

FileNotFoundError: [Errno 2] No such file or directory: '#'

In [ ]:
# REPLACING EMPTY VALUES VALUES YOU WANT

import pandas as dp

df1 = dp.read_csv('#')

df1.fillna(xyz , inplace = True)

print(df1)

In [ ]:
# REPLACING EMPTY VALUES VALUES YOU WANT ONLY THE COLUMN YOU WANT

import pandas as dp

df1 = dp.read_csv('#')

df1["Height"].fillna("50`" , inplace = True) # REPLACES ONLY IN COLUMN NAME Height

print(df1)

In [ ]:
# REPLACING THE EMPTY SPACES BY MEAN OR MODE OF THE DATA

import pandas as dp

df2= dp.read_csv('#')

print(df2)

x = df2["Height"].meean()

print(x)

df2["Height"].fillna(x,inplace=True)

print(df2)